@mixin baElements ($w, $h) {
  content: "";
  display: inline-block;
  width: $w;
  height: $h;
}

@mixin baImages ($w, $h, $url) {
  @include baElements($w, $h);

  background-image: $url;
  background-repeat: no-repeat;
  background-size: contain;
}


@mixin text15 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
@mixin text40 {
  font-weight: bold;
  font-size: 4rem;
  line-height: 4.4rem;
  letter-spacing: 1.42857px;
  text-transform: uppercase;
  color: $color-dark;
}
@mixin text30 {
  font-weight: bold;
  font-size: 3.2rem;
  line-height: 3.6rem;
  letter-spacing: 1.14286px;
  text-transform: uppercase;
  color: $color-dark;
}

@mixin respond ($breakpoint) {

  @if ($breakpoint==tab-port) {
    @media only screen and (max-width:56.25em) {
      @content
    }
  }

  ;
  @if ($breakpoint==phone) {
    @media only screen and (max-width:37.5em) {
      @content
    }
  }

  ;

  
}