$color-green-56:#014E56;
$color-green-47:#004047;
$color-green-34:#012F34;
$color-green-29:#002529;
$color-light-7e:#F67E7E;
$color-white:#fff;
$color-blue-c7:#79C8C7;
$color-blue-69:#2C6269;
$color-dark: #000;