.director {
    background-color: $color-green-47;
    padding: 14rem 0;
    position: relative;
    &__container {
        &::before {
            @include baImages (10rem,20rem,url(/images/directors-my-team2-left-img.png));
            position: absolute;
            top: 0;
            left: 0;
        }
        &::after {
            @include baImages (14.7rem,10rem,url(/images/directors-my-team2-right-img.png));
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    &__title {
        @include text48;
        color: $color-white;
        text-align: center;
        margin-bottom: 6.4rem;
    }
    &__cards {
        &__top {
            display: flex;
            justify-content: space-between;
            &__card {
                width: 35rem;
                height: 25.3rem;
                background:$color-green-34;
                position: relative;
              &::after {
                  @include baImages (1.6rem,1.6rem,url(/images/director-cards-+.svg));
                  position: absolute;
                  bottom: -8px;
                  margin-left: 16.7rem;
                  padding: 2rem;    
                  background-color: $color-light-7e;
              }
                &__name {
                    @include text18;
                    color: $color-blue-c7;
                    text-align: center;
                    &.first-before::before {
                        @include baImages (9.6rem,9.6rem,url(/images/director-card-img2.png));
                        display: flex;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 3.2rem;
                        margin-bottom: 1.6rem;
                    }
                    &.second-before::before {
                        @include baImages (9.6rem,9.6rem,url(/images/director-card-img3.png));
                        display: flex;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 3.2rem;
                        margin-bottom: 1.6rem;
                    }
                    &::before {
                        @include baImages (9.6rem,9.6rem,url(/images/director-card-img.png));
                        display: flex;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 3.2rem;
                        margin-bottom: 1.6rem;
                    }
                }
                &__job {
                    @include text15;
                    font-weight: 500;
                    color: $color-white;
                    text-align: center;
                }
            }
        }
        &__bottom {
            display: flex;
            justify-content: space-between;
            margin-top: 4.8rem;
            & .director__cards__top__card__name {
                margin-top: 3.5rem;
            }
         & .director__cards__top__card__job {
             width: 25.4rem;
             margin-left: auto;
             margin-right: auto;
             margin-top: 8px;
             margin-bottom: 2.4rem;
         }
            & .director__cards__top__card__name::before {
                @include baImages (9.6rem,9.6rem,url(/images/director-card-img4.png));
                    display: flex;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 3.2rem;
                    margin-bottom: 1.6rem;
            }
            & .first-before::before {
                @include baImages (9.6rem,9.6rem,url(/images/director-card-img5.png));
                    display: flex;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 3.2rem;
                    margin-bottom: 1.6rem;
            }
            & .second-before::before {
                display: none;
            }
            & a {
                display: block;
                margin: 0 ;
            }
            &__imgs {
                display: flex;
                justify-content: center;
                &__twitch {
                width: 2.4rem;
                height: 2rem;
                margin-right: 1.6rem;
             }
             &__linkedin {
                width: 2rem;
                height: 2rem;
             }
            }
            
        }
    }
}