.footer {
    width: 100%;
    background-color: #101010;
    padding-bottom: 4.8rem;
    &__container {
        position: relative;
        @include respond (tab-port) {
            position: relative;
        }
        &::before {
            @include baElements (10.1rem,4px);
            background-color: $color-light-4a;
            position: absolute;
            @include respond (phone) {
                left: 12.8rem;
            }
        }
    }

    &__center{
        display: flex;
        &__text{
            width: 54rem;
            @include text15;
            mix-blend-mode: normal;
            opacity: 0.5;   
            color: $color-white;
            margin-top: 3.6rem;
            @include respond (tab-port) {
                width: 68.9rem;
            }
            @include respond (phone) {
                text-align: center;
            }
        }
        &__icons{
            margin-left: auto;
            margin-top: auto;
            @include respond (tab-port) {
                position: absolute;
                bottom: 0;
                right: 4rem;
            }
            @include respond (phone) {
                bottom: -7.4rem;
                left: 11.7rem;
            }
            &__twitter{
                margin-left: 1.6rem;
                margin-right: 1.6rem;
            }
            svg:active path {
                fill: $color-light-4a;
            }
        }
    }

    &__end__text{
        @include text15;
        color: $color-white;
        mix-blend-mode: normal;
        opacity: 0.5; 
        margin-top: 5.6rem;
        @include respond (phone) {
            text-align: center;
            margin-bottom: 4.8rem;
        }
    }
}