.motivation {
    background-color: $color-light-7e;
    padding-top: 7.6rem;
    padding-bottom: 7.6rem;
    position: relative;
   &::after {
       @include baImages (20rem,12.2rem,url(/images/mativation-img.png));
       position: absolute;
       bottom: 0;
       left: 0;
   }
    & .container {
        display: flex;
        
    }
    &__text {
        margin-right: 26rem;
        @include text48;
        // color: $color-green-34;
        @include respond (tab-port) {
            font-size: 3.2rem;
            line-height: 3.2rem;
            margin-right: 8.4rem;
            margin-left: 5.7rem;
        }
     }
}