.product-center {
    padding-top: 16rem;
    padding-bottom: 16rem;
    display: flex;
    @include respond (tab-port) {
        display: inline ;
    }
    &__left {
        &__title {
            @include text30;
            letter-spacing: 1.14286px;
            text-transform: uppercase;
            color: $color-dark;
            @include respond (phone) {
                letter-spacing: 0.857143px;
                margin-top: 8.8rem;
            }
        }
        &__text {
            width: 63.5rem;
            @include text15;
            color: $color-dark;
            mix-blend-mode: normal;
            opacity: 0.5;
            margin-top: 3.2rem;
            margin-right: 12.5rem;
            @include respond (phone) {
                width: 32.7rem;
            }
        }
    }
    &__right {
        @include respond (tab-port) {
            margin-top: 12rem;
            display: flex;
            padding-bottom: 12rem;
        }
        @include respond (phone) {
            display: initial ;
        }
        &__title {
            @include text30;
            margin-bottom: 3.2rem;
            @include respond (tab-port) {
                width: 35rem;
            }
            @include respond (phone) {
                margin-top: 11.3rem;
                margin-bottom: 2.4rem;
            }
        }
        &__texts {
            display: flex;
            margin-bottom: 8px;
            &:last-child {
                margin-bottom: 0;
            }
            &__number {
                @include text15;
                color: $color-light-4a;
                margin-right: 2.1rem;
            }
            &__text {
                @include text15;
                color: $color-dark;
                mix-blend-mode: normal;
                opacity: 0.5;
            }
        }
    }
    &__texts {
        @include respond (phone) {
            margin-bottom: 8.8rem;
        }
    }
}