.stories {
    width: 100%;
    background-color: $color-green-47 ;
    padding: 14rem 0;
    position: relative;
 &__top {
   &::before {
     @include baImages (14.7rem,10rem,url(/images/stories-top-img.png));
     position: absolute;
     top: 0;
     left: 0;
   }
   &__title {
     width: 93rem;
    @include text48;
    color: $color-white;
    text-align: center;
    @include respond (tab-port) {
      width: 49rem;
      font-size: 3.2rem;
      line-height: 3.2rem;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    &__span {
      color: $color-blue-c7;
    }
   }
 }

 &__bottom {
  display: flex;
  justify-content: space-between;
  @include respond (tab-port) {
    display: inherit;
  }
  &::before {
    @include baImages (20rem,10rem,url(/images/stories-bottom-img.png));
    position: absolute;
    bottom: 0;
    right: 0;
  }
  &__info {
  width: 35rem;
  @include respond (tab-port) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
    &__comment {
      @include text15;
      color: $color-white;
      text-align: center;
      margin-top: 9.2rem;
      margin-bottom: 2.4rem;
      z-index: 2;
      position: relative;
      @include respond (tab-port) {
        width: 57.3rem;
        margin-left: 5.7rem;
      }
      &::before {
        @include baImages (6.7rem,5.6rem,url(/images/“.png));
        display: flex;
        position: absolute;
        z-index: -1;
        top: -3.6rem;
        left: 14.1rem;
        @include respond (tab-port) {
          left: 25rem;
        }
      }
    }
    &__name {
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 2.8rem;
      color: $color-blue-c7;
      text-align: center;
      margin-bottom: 2px;
    }
    &__job {
      font-weight: 500;
      font-size: 1.3rem;
      line-height: 1.8rem;
      color: $color-white;
      text-align: center;
      @include respond (tab-port) {
        margin-left: auto;
        margin-right: auto;
      }
    }
    &__logo {
      text-align: center;
      a{
        display: block;
        margin: 0 auto;
      }
      &__img {
        width: 6.2rem;
        height: 6.2rem;
        margin-top: 3.2rem;
        @include respond (tab-port) {
          margin-left: auto;
          margin-right: auto;
        }
     }
    }
    
  }
 }
}